<aside>
  <div class="container">
    <nav>
     <ul>
       <li><a href="/">Top</a></li>
       {% for page in site.pages %} {% if page.title %}
       <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
       {% endif %} {% endfor %}
       <li><a href="https://github.com/pgsql-jp/jpug-doc">GitHub</a></li>
       <li><a href="https://www.postgresql.org/">PostgreSQLオフィシャル</a></li>
       <li><a href="https://www.postgresql.jp/">日本PostgreSQLユーザ会</a></li>
       <li><a href="http://snaga-lab.mybluemix.net/static/pgdoc/index.html">マニュアル検索</a></li>
     </ul>
    </nav>
  </div>
</aside>

<header>
  <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
</header>
