$content-width: 800px;
$main: #FDFEFE;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #1690B7;
$link-hover-color: #0f0f0f;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #EC5800;
$light: #E7EDF4;
$header:  #008FBE;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: box;
}
